{% extends "layout.html" %}

{% block content %}

<div class="jumbotron">
    <h2 class="text-center">Search for any Mobile/Laptop</h2>
    <form action="/search" method="post">
        <div class="input-group input-group-lg">
            <input name="search-input" id="search-input" class="form-control" type="text" placeholder="Product Name" required>
            <span class="input-group-btn">
                <input type="submit" class="btn btn-primary" value="Search">
            </span>
        </div>
    </form>
</div>

<div class="row">
    <div class="col-md-12">
        {% for result in search_results %}
        <div class="card bg-light">
            <div class="card-header">
                {{ result.get('ProductName', 'Product') }}
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}
