{% extends "layout.html" %}

{% block content %}

<div class="p-5 mb-4 mx-5 mt-4 bg-light rounded-3">
    <h2 class="text-center">Search for any Mobile/Laptop</h2>
    <form class="row g-3 d-flex justify-content-center mt-2" action="/search" method="post">
        <div class="col-md-6">
            <input name="search-input" id="search-input" class="form-control form-control-lg" type="text" placeholder="Type any product name like iphone, mac or samsung" required>
        </div>
        <div class="col-auto">
            <input type="submit" class="btn btn-primary btn-lg" value="Search">
        </div>
    </form>
</div>

{% include "product_listing.html" %}

{% endblock %}
