{% extends "layout.html" %}

{% block content %}

<div class="row mt-4">
    <div class="row justify-content-start">
        <div class="col-md-4 mx-5 p-1">
            <h3>Account Info</h3>
            <hr />
            <div class="mx-auto mt-4 p-2">
                <label class="form-label">Email</label>
                <p class="fst-italic fw-bolder">{{ g.user['Email'] }}</p>
            </div>
            <div class="mx-auto p-2">
                <label class="form-label">Username</label>
                <p class="fst-italic fw-bolder">{{ g.user['UserName'] }}</p>
            </div>
        </div>
    </div>
    <div class="row justify-content-start">
        <div class="col-md-4 mx-5 p-1">
            <h3>Personal Info</h3>
            <hr />
            <div class="row">
                <div class="col-md-6 mx-auto p-2">
                    <label class="form-label">First Name</label>
                    <p class="fst-italic fw-bolder">{{ personalInfo['FirstName'] or ''}}</p>
                </div>
                <div class="col-md-6 mx-auto p-2">
                    <label class="form-label">Last Name</label>
                    <p class="fst-italic fw-bolder">{{ personalInfo['LastName'] or ''}}</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 mx-auto p-2">
                    <label class="form-label">Address 1</label>
                    <p class="fst-italic fw-bolder">{{ personalInfo['Address1'] or ''}}</p>
                </div>
                <div class="col-md-6 mx-auto p-2">
                    <label class="form-label">Address 2</label>
                    <p class="fst-italic fw-bolder">{{ personalInfo['Address2'] or ''}}</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 mx-auto p-2">
                    <label class="form-label">City</label>
                    <p class="fst-italic fw-bolder">{{ personalInfo['City'] or ''}}</p>
                </div>
                <div class="col-md-6 mx-auto p-2">
                    <label class="form-label">Province</label>
                    <p class="fst-italic fw-bolder">{{ personalInfo['Province'] or ''}}</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 mx-auto p-2">
                    <label class="form-label">Country</label>
                    <p class="fst-italic fw-bolder">{{ personalInfo['Country'] or ''}}</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 mx-auto p-2">
                    <label class="form-label">Postal Code</label>
                    <p class="fst-italic fw-bolder">{{ personalInfo['PostalCode'] or ''}}</p>
                </div>
                <div class="col-md-6 mx-auto p-2">
                    <label class="form-label">Phone</label>
                    <p class="fst-italic fw-bolder">{{ personalInfo['Phone'] or ''}}</p>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
